@import "tailwindcss";

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  color: #000;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  @apply m-0 flex place-items-center;
}

#root {
  @apply w-full;
}

a {
  @apply font-medium text-blue-500;
}
a:hover {
  @apply text-blue-600;
}

button {
  @apply rounded-lg border-transparent  font-medium cursor-pointer transition-all text-white bg-blue-500;
}
button:hover {
  @apply bg-blue-600;
}

input {
  @apply bg-white;
}
